$include /etc/inputrc
set completion-ignore-case On

set show-mode-in-prompt on
set keyseq-timeout 10
set vi-ins-mode-string "\e[38;2;0;255;26m \e[0m"
set vi-cmd-mode-string "\e[38;2;0;255;26m \e[0m"
